 :root {
     --white:#FFFFFF;
     --black:#000000;
     --greenishblue:#1abc9c;
     --pencilgray:#474e5d;
 }


 body {
     font: 15px montserrat, sans-serif;
     box-sizing: border-box;
 }


 /*------------------------------------------
 ------------------NAVBAR--------------------
 ------------------------------------------*/

 .nav1 {
     padding: 10px;
     letter-spacing: 5px;
     background-color: var(--black);
 }


 .nav1 a {
     color: var(--white) !important;
     background-color: var(--black) !important;
 }


 .nav1 a:hover {
     color: var(--greenishblue) !important;
     font-weight: bolder;
 }


 #navbar-color,
 #navbar-color:hover .icon-bar {
     background-color: var(--black);
     border: 0px;
 }


  #navbar-color .icon-bar,
  #navbar-color:hover {
     background-color: var(--greenishblue);
 }


 /*------------------------------------------
 --------MIDDLE CONTAINER (WHO AM I)---------
 ------------------------------------------*/

 .who {
     background-color: var(--greenishblue);
     text-align: center;
     position: relative;
     margin-top: 73px;
     padding: 60px;
     color: var(--white);
     font-size: 24px;
 }


 .who_p1,
 .what_p1,
 .where_p1 {
     margin-bottom: 45px;
     margin-top: 27px;
 }


 .who_p2,
 .what_p2 {
     margin-top: 60px;
 }


 /*------------------------------------------
 --------MIDDLE CONTAINER (WHAT AM I)--------
 ------------------------------------------*/

 .what {
     background-color: var(--pencilgray);
     text-align: center;
     position: relative;
     padding: 60px;
     color: var(--white);
     font-size: 24px;
 }


 .what_p2 {
     font-size: 18px;
     line-height: 30px;
     margin: 0px -30px 25px;
     text-indent: -7px;
     padding: 4px;
     
 }


 .what a:link,
 .what a:visited {
     background-color: var(--black);
     color: var(--white);
 }


 .what a:hover {
     color: var(--greenishblue);
     border: 2px solid var(--greenishblue);
     font-weight: bolder;
 }


 .what a:active {
     color: var(--greenishblue);
     border: 2px solid var(--greenishblue);
     font-weight: bolder;
     margin: 30px;
 }


 /*-------------------------------------------
 -----MIDDLE CONTAINER (WHERE TO FIND ME)-----
 -------------------------------------------*/

 .where {
     background-color: var(--white);
     text-align: center;
     position: relative;
     padding: 55px;
     color: var(--black);
     font-size: 24px;
 }


 .row,
 .row .where_div {
     margin-top: 35px;
 }


 .where .row .where_div {
     font-size: 18px;
     line-height: 30px;
 }
