 :root {
     --white:#FFFFFF;
     --black:#000000;
     --greenishblue:#1abc9c;
     --pencilgray:#474e5d;
 }


 body {
     font: 15px montserrat, sans-serif;
     box-sizing: border-box;
 }


 /*------------------------------------------
 ------------------NAVBAR--------------------
 ------------------------------------------*/

 .nav1 {
     padding: 13px;
     background-color: var(--white); 
     letter-spacing: 5px;
     font-weight: bolder;
 }


 .nav1 a:hover {
     color: #1abc9c !important;
     font-weight: bolder;
 }


 /*------------------------------------------
 ------MIDDLE CONTAINER (WHO AM I - ONE)-----
 ------------------------------------------*/

 .who{
     background-color: var(--greenishblue);
     text-align: center;
     position: relative;
     margin-top: -20px;
     padding: 60px;
     color: var(--white);
     font-size: 24px;
 }


 .who_p1,
 .what_p1 {
     margin-bottom: 45px;
     margin-top: 27px;
 }


 .who_p2,
 .what_p2 {
     margin-top: 60px;
 }


 /*------------------------------------------
 --------MIDDLE CONTAINER (WHAT AM I)--------
 ------------------------------------------*/

 .what{
     background-color: var(--pencilgray);
     text-align: center;
     position: relative;
     padding: 60px;
     color: var(--white);
     font-size: 24px;
 }


 .what_p2 {
     font-size: 18px;
     line-height: 30px;
 }
